In [1]:
#import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo 
import requests
from config import api_key

In [2]:
#executable path for window users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Executable path for Mac Users
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#url of page to be scrapped from indeed 
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
browser.visit(url)

In [5]:
#BeautifulSoup Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
#result to return the job title
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

[<h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AnQhcI30S35noZYX7fptC9JHDBVuSQzNzWdPUWRF9nG_TgfFeJcuyvoA_Dmg8a2SWU0CWz29S6MT30H2yhzzsBpPN9y0B6egimIjGTLXX1oUyXsUX7-ksrT2fHw1ZxE675VWanqeqU3t9LUAatd_nATymTC1UVJ8jmJ9jwNZRqU4qeezvPss14C6V7XjzJkP61EnMRX5UAZa2jZsc_-aV-KcTObR5NH_5m154gvU4DFpERf30PDinl3wzgLFgEpDD04py1-uy5lfJXt3lNebeYwkyz4zk3FYdFNd5dnmNP09ivhnPlbz_qi_uWM9TpoFc31O42_HfzdvCIynI1FbNGGugLGN_sq6qn9ylXgJ1xhaDwbISZz0uK5rm2zhZAtzvHVn3OT2_Eo5uoWmFOS4hnjPwNYFy5MR2goUnF7S5hprSqHvG_jK1q_zWZgHeyJ-2znF9FXa6dldjaSC3F87x5&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['radius']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Educational Data Scientist">
Educational <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AMr11YIOo206dX9CE572HoIBzjTozchv3QrfVeNVhstmAbPwFeZPDdH5w4MW3uUm59zxvwZmewuUare5btROGxqWx-_fSqJeoXHzgLaa8yIT3c-7Q_Qgpv8mTModHRHthZsuQggKKJ9TnHriBpY7kvmeTBHlvkjXeCuKGqTWnOLk1Ejk3aguHuNlRUzXWJyIlMLnFNzaAjVihHQQoeq2g53JEjAO0uYrvpFRHa198-07tsk2vAwmWmDemJbJ9yyhYOM1iFxOuEyWuAsLK8dt4Oqmx5YRhTp-ianTGbFh1TFKjhrNUIs3IhMUBuNGrhLthhazUvhi1CRDW2WOL6G78xvnIa_XX-BKiglp359OgjnIkByIkAb6C-KpDcBm8zxLXMqAlaZAY7U8Q2zaTHj-zgJnINQXHesT3hEhTrD2ucOaA4kzP-ECWOmJSSc92DYSOPKQJ09T4k0_YImuBTuWBN5ZAEccTTq0nlYsSyT4vSmivLVxA6NUzWS_MqC8fKTN0=&amp;p=1&amp;fvj=1&amp;vjs=3" id="sja1" onclick="setRefineByCookie(['radius']); sjoc('sja1', 1); convCtr('SJ'); rclk(this,jobmap[1],true,1);" onmousedown="sjomd('sja1'); clk('sja1'); rclk(this,jobmap[1],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrfT31QlmgQnUNsllJCuzCyoL6Y8z-8PyQo2okYl75ZdJ1F6hsfqRCcpp1Z-R9T2X6kucCAyUQ1kNNld1HMMlL2eBNtBbStA8RdbmUStwbl-w-EJZiE0PhCqnEke2Csf-4UJFuIZbLu9YFr0xAOubwiMFf1NvHDxnJdknUbzO_w4BsdGnE19b1zfr2i7A2t3n8ZWIaPqldIIbPof9FT5UtM7pHtghm7SlC4ttYTzIxfUAGUBE5Hfo3GYP7f3Nri88LIPQ32hLD87c_SI9o0gSn-dBpmhxzuLSAReP3S2oHuPE-n00q0LhgLbUtdV68Ab-yg==&amp;p=2&amp;fvj=0&amp;vjs=3" id="sja2" onclick="setRefineByCookie(['radius']); sjoc('sja2', 0); convCtr('SJ'); rclk(this,jobmap[2],true,0);" onmousedown="sjomd('sja2'); clk('sja2'); rclk(this,jobmap[2],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist - Analytics">
Staff <b>Data</b> <b>Scientist</b> - Analytics</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrd9vgmYaldPQpYZYmqd_RWsMa-UQUHq33lrt1JtH8E7ZxWSo7ImAkgsQHQpZ3y3tmy7gmAY8NN36ukbUMuJZOPfEuv-6iqqzTpdeirZ5kWg-RxjZr1Mrr_8p28WyPVykpVz8hFCkIROEXYn0rjqCIZk3vBIxuuA53DXfYaKCE0-SA-iZKNuoEKgLyK0I7mu5DQBmVCD4Ktpl617AmZiozoLeoVO_dWxeta0ExGFLfzN6gq6O5u1IKT31A5baUWbtk5TMgGfWnSYuckB71ScR3cVAcs-_NULByn0Dw7Gip9-dFNqr3nC903WqoKoxUGmq1NDLFpbMWj37&amp;p=3&amp;fvj=0&amp;vjs=3" id="sja3" onclick="setRefineByCookie(['radius']); sjoc('sja3', 0); convCtr('SJ'); rclk(this,jobmap[3],true,0);" onmousedown="sjomd('sja3'); clk('sja3'); rclk(this,jobmap[3],0);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist">
Senior <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrQ6jY9y4BiMTjFetE6lV34ljRGQOt0c--tGxHypRVfT_9BDTHYVgA85tPr6gqrXWhudRWWEWingJQmZosuVaIm1nNgu0eRrkxtirNLEKXb2hCaFsDXQ8m6OTcpXg8aIAjwooMHf7-gkXQEBUE7p-huClrFpacQRfHpiOfcwkWZNSDNnIEeXQoxkb5zgNmSkhALfT00sfpcEfyX9iRa3VzM9IIOwCIUG-iLoU_Z3IIX7rJ0Lpt_uFXLPk5CVCXoMt9j2wOuEnDixOPLI4yvYh0lVyHFNOg68wyZ-7EGbM9Yy6MSpsvnfz3qUZpLuBcR7pEQ==&amp;p=4&amp;fvj=0&amp;vjs=3" id="sja4" onclick="setRefineByCookie(['radius']); sjoc('sja4', 0); convCtr('SJ'); rclk(this,jobmap[4],true,0);" onmousedown="sjomd('sja4'); clk('sja4'); rclk(this,jobmap[4],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist">
Staff <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BvQeUJ0cfNniX7CCgc4KydoCBbpnSCA7A18Rgk6d9TuQwfr8xUPdI-9H9njcVR5cezeh8s2wAHtKx_vlb3aaq5GbIrM3Eva384Ftljt-FkfHp0ilIKWefU4jrJhfoZ-Ky77DvrCBUsgCMZn3BnuHHLDgm4TuMhkFvD-2JvLblQSfJyyh09qI6pBCbWNz3Y8WbsF2h28LkHoWXV_ougeC7Rlkh5Xe--otQ1fWMRC9vXqY-Ulv8nhJHGfLurVK-z_p5kojUQ_jooPzqVwYmaYv9J5PfnKxXjJWdeIk1PjBxfmy2zaI8jiJmElPxKQsf87tqirn_7uIooQ0PfHnGtY7EvejH8zY4f3Qz2iR38qa5b5fV_OUoGnZ7wPLwI4qvIlZRKSGnuZZYUMGNYmwJupVSbdi1pv8WVpI3CDI7GtM77U2MWw5WyLz-b4NJ50wSMYiT9uvfGerIXPOIS8gwIM_fVSXKccxZB3iI=&amp;p=5&amp;fvj=1&amp;vjs=3" id="sja5" onclick="setRefineByCookie(['radius']); sjoc('sja5', 1); convCtr('SJ'); rclk(this,jobmap[5],true,1);" onmousedown="sjomd('sja5'); clk('sja5'); rclk(this,jobmap[5],1);" rel="noopener nofollow" target="_blank" title="Senior Health Data Analyst (Remote / Tableau experience required)">
Senior Health <b>Data</b> Analyst (Remote / Tableau experience requ...</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Mobile-Programming/jobs/Data-Scientist-df4e6af65c173ecb?fccid=d0377b42bd69efd8&amp;vjs=3" id="jl_df4e6af65c173ecb" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[6],true,0);" onmousedown="return rclk(this,jobmap[6],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/GradTests/jobs/Data-Scientist-61369985007480f5?fccid=3b57c72e54f9233d&amp;vjs=3" id="jl_61369985007480f5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[7],true,1);" onmousedown="return rclk(this,jobmap[7],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8c14ad33311ec5b3&amp;fccid=87d7af0ec9cd5df0&amp;vjs=3" id="jl_8c14ad33311ec5b3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[8],true,0);" onmousedown="return rclk(this,jobmap[8],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=e48719183cfe2f66&amp;fccid=ba0b4ef452449c10&amp;vjs=3" id="jl_e48719183cfe2f66" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[9],true,0);" onmousedown="return rclk(this,jobmap[9],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=a2e9b786626bdcf5&amp;fccid=5eaae7a6faec1749&amp;vjs=3" id="jl_a2e9b786626bdcf5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[10],true,0);" onmousedown="return rclk(this,jobmap[10],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=539843aa92aaf8ce&amp;fccid=a23e5e2f20b1aac4&amp;vjs=3" id="jl_539843aa92aaf8ce" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[11],true,0);" onmousedown="return rclk(this,jobmap[11],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=26e1065d7f6d9c88&amp;fccid=8f3c0373bcfa5520&amp;vjs=3" id="jl_26e1065d7f6d9c88" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[12],true,0);" onmousedown="return rclk(this,jobmap[12],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Nihon-Kohden-America/jobs/Senior-Data-Scientist-b456cb2212135131?fccid=54764032272f66ae&amp;vjs=3" id="jl_b456cb2212135131" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[13],true,1);" onmousedown="return rclk(this,jobmap[13],1);" rel="noopener nofollow" target="_blank" title="Sr. Data Scientist">
Sr. <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=30a3bcd7b43db91d&amp;fccid=3bcef03e34391ca8&amp;vjs=3" id="jl_30a3bcd7b43db91d" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[14],true,0);" onmousedown="return rclk(this,jobmap[14],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>]

In [7]:
#result to be Returned as an iterable list
for title in titles:
    job_title = title.get_text()
    print(job_title)

Educational Data Scientist



Data Scientist
new


Staff Data Scientist - Analytics
new


Senior Data Scientist
new


Staff Data Scientist
new


Senior Health Data Analyst (Remote / Tableau experience requ...
new


Data Scientist
new


Data Scientist



Data Scientist



Data Scientist



Data Scientist



Data Scientist



Data Scientist
new


Sr. Data Scientist



Data Scientist

In [8]:

try:
    dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
    more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
    no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
    dismiss.first.click()
    more_jobs.first.click()
    no_thanks.first.click()
except:
    print("not found")

not found

In [9]:
#Empty list to append the the result and index 0 is an int 
job_titles = [0]
 
 #loop through the result    
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

page: 1 -------------


Educational Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Staff Data Scientist - Analytics
new
page: 1 -------------


Senior Data Scientist
new
page: 1 -------------


Staff Data Scientist
new
page: 1 -------------


Senior Health Data Analyst (Remote / Tableau experience requ...
new
page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Sr. Data Scientist

page: 1 -------------


Data Scientist

In [10]:
#Use replace to print out a clean job title
clean_job_titles = []

#loop through result
for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [11]:
#print clean job titles to check
print(clean_job_titles)

['Educational Data Scientist', 'Data Scientistnew', 'Staff Data Scientist - Analyticsnew', 'Senior Data Scientistnew', 'Staff Data Scientistnew', 'Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientistnew', 'Sr. Data Scientist', 'Data Scientist']

In [12]:
#result to return the job locations
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
locations

[<span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92618 <span style="font-size: smaller">(East Industrial Complex area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Pasadena, CA 91101 <span style="font-size: smaller">(South area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92618 <span style="font-size: smaller">(Irvine Health and Science Complex area)</span></span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92127</span>]

In [13]:
#Empty list to append the result
job_locations = []


#loop through the returned result
for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Irvine, CA
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Irvine, CA 92618 (East Industrial Complex area)
page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Pasadena, CA 91101 (South area)
page: 1 -------------
Irvine, CA 92618 (Irvine Health and Science Complex area)
page: 1 -------------
San Diego, CA 92127

In [14]:
#print job locations
print(job_locations)
browser.quit()

['Irvine, CA', 'Los Angeles, CA', 'Irvine, CA 92618 (East Industrial Complex area)', 'Irvine, CA', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA 92617 (Research Park area)', 'Pasadena, CA 91101 (South area)', 'Irvine, CA 92618 (Irvine Health and Science Complex area)', 'San Diego, CA 92127']

In [15]:
#zip both result into a list
new_list = list(zip(clean_job_titles, job_locations))

In [16]:
#print new_list that has both the job_titiles and locations
print(new_list)

[('Educational Data Scientist', 'Irvine, CA'), ('Data Scientistnew', 'Los Angeles, CA'), ('Staff Data Scientist - Analyticsnew', 'Irvine, CA 92618 (East Industrial Complex area)'), ('Senior Data Scientistnew', 'Irvine, CA'), ('Staff Data Scientistnew', 'Irvine, CA 92617 (Research Park area)'), ('Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientistnew', 'Pasadena, CA 91101 (South area)'), ('Data Scientist', 'Irvine, CA 92618 (Irvine Health and Science Complex area)'), ('Data Scientist', 'San Diego, CA 92127')]

In [17]:
#append list into a python dictionary
updated_list = dict(new_list)
updated_list

{'Educational Data Scientist': 'Irvine, CA',
 'Data Scientistnew': 'Pasadena, CA 91101 (South area)',
 'Staff Data Scientist - Analyticsnew': 'Irvine, CA 92618 (East Industrial Complex area)',
 'Senior Data Scientistnew': 'Irvine, CA',
 'Staff Data Scientistnew': 'Irvine, CA 92617 (Research Park area)',
 'Senior Health Data Analyst (Remote / Tableau experience requ...new': 'Irvine, CA 92617 (Research Park area)',
 'Data Scientist': 'San Diego, CA 92127'}

In [18]:
#Initialize pymongo to work with MongoDBs
#CONNECT MONGO DB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [19]:
#convert newlist to pandas dataframe
updated_list_df = pd.DataFrame(new_list)
updated_list_df

,0,1
0,Educational Data Scientist,"Irvine, CA"
1,Data Scientistnew,"Los Angeles, CA"
2,Staff Data Scientist - Analyticsnew,"Irvine, CA 92618 (East Industrial Complex area)"
3,Senior Data Scientistnew,"Irvine, CA"
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)"
6,Data Scientistnew,"Pasadena, CA 91101 (South area)"
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co..."
8,Data Scientist,"San Diego, CA 92127"

In [20]:
#append colums keys
New_job_location_df = pd.DataFrame(new_list, columns=['Job_Title', 'Location'])
New_job_location_df

,Job_Title,Location
0,Educational Data Scientist,"Irvine, CA"
1,Data Scientistnew,"Los Angeles, CA"
2,Staff Data Scientist - Analyticsnew,"Irvine, CA 92618 (East Industrial Complex area)"
3,Senior Data Scientistnew,"Irvine, CA"
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)"
6,Data Scientistnew,"Pasadena, CA 91101 (South area)"
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co..."
8,Data Scientist,"San Diego, CA 92127"

In [21]:
New_job_location_df['City'] = New_job_location_df['Location'].str.split(',').str[0]

In [22]:
New_job_location_df['Lat'] = ''
New_job_location_df['Lng'] = ''

In [23]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Educational Data Scientist,"Irvine, CA",Irvine,,
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,,
2,Staff Data Scientist - Analyticsnew,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,,
3,Senior Data Scientistnew,"Irvine, CA",Irvine,,
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,,
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)",Irvine,,
6,Data Scientistnew,"Pasadena, CA 91101 (South area)",Pasadena,,
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co...",Irvine,,
8,Data Scientist,"San Diego, CA 92127",San Diego,,

In [38]:
for index, row in New_job_location_df.iterrows():
    city = row['City']
    base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
    response = requests.get(f'{base_url}{city}.json?access_token={api_key}').json()
    
    try:
        print(f'Retrieving rating data for {city}')
        New_job_location_df.loc[index, 'Lat'] = response['features'][0]['geometry']['coordinates'][1]
        New_job_location_df.loc[index, 'Lng'] = response['features'][0]['geometry']['coordinates'][0]
    except(KeyError, IndexError):
        print('Missing data')

Retrieving rating data for Irvine
Retrieving rating data for Los Angeles
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Pasadena
Retrieving rating data for Irvine
Retrieving rating data for San Diego

In [39]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Educational Data Scientist,"Irvine, CA",Irvine,33.6857,-117.826
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244
2,Staff Data Scientist - Analyticsnew,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,33.6857,-117.826
3,Senior Data Scientistnew,"Irvine, CA",Irvine,33.6857,-117.826
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826
6,Data Scientistnew,"Pasadena, CA 91101 (South area)",Pasadena,29.6911,-95.2091
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co...",Irvine,33.6857,-117.826
8,Data Scientist,"San Diego, CA 92127",San Diego,32.7174,-117.163

In [24]:
# test_city = 'Irvine'
# base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
# search = base_url + test_city + '.json?access_token=' + api_key

# response = requests.get(search).json()
# response

{'type': 'FeatureCollection',
 'query': ['irvine'],
 'features': [{'id': 'place.11678998856575970',
   'type': 'Feature',
   'place_type': ['place'],
   'relevance': 1,
   'properties': {'wikidata': 'Q49219'},
   'text': 'Irvine',
   'place_name': 'Irvine, California, United States',
   'bbox': [-117.871305750446,
    33.5798980075744,
    -117.677668266343,
    33.792430723112],
   'center': [-117.826, 33.6857],
   'geometry': {'type': 'Point', 'coordinates': [-117.826, 33.6857]},
   'context': [{'id': 'region.9803118085738010',
     'short_code': 'US-CA',
     'wikidata': 'Q99',
     'text': 'California'},
    {'id': 'country.19678805456372290',
     'wikidata': 'Q30',
     'short_code': 'us',
     'text': 'United States'}]},
  {'id': 'place.9742424312575970',
   'type': 'Feature',
   'place_type': ['place'],
   'relevance': 1,
   'properties': {'wikidata': 'Q1774629'},
   'text': 'Irvine',
   'place_name': 'Irvine, North Ayrshire, Scotland, United Kingdom',
   'bbox': [-4.714059, 55.563074, -4.583364, 55.661238],
   'center': [-4.66111, 55.61944],
   'geometry': {'type': 'Point', 'coordinates': [-4.66111, 55.61944]},
   'context': [{'id': 'district.14823745704047940',
     'wikidata': 'Q206926',
     'text': 'North Ayrshire'},
    {'id': 'region.7192604431156640',
     'short_code': 'GB-SCT',
     'wikidata': 'Q22',
     'text': 'Scotland'},
    {'id': 'country.12405201072814600',
     'wikidata': 'Q145',
     'short_code': 'gb',
     'text': 'United Kingdom'}]},
  {'id': 'neighborhood.291764',
   'type': 'Feature',
   'place_type': ['neighborhood'],
   'relevance': 1,
   'properties': {},
   'text': 'Irvine Health and Science Complex',
   'place_name': 'Irvine Health and Science Complex, Irvine, California 92618, United States',
   'bbox': [-117.777936, 33.628722, -117.719685, 33.677768],
   'center': [-117.75, 33.65],
   'geometry': {'type': 'Point', 'coordinates': [-117.75, 33.65]},
   'context': [{'id': 'postcode.10670761516316420', 'text': '92618'},
    {'id': 'place.11678998856575970', 'wikidata': 'Q49219', 'text': 'Irvine'},
    {'id': 'region.9803118085738010',
     'short_code': 'US-CA',
     'wikidata': 'Q99',
     'text': 'California'},
    {'id': 'country.19678805456372290',
     'wikidata': 'Q30',
     'short_code': 'us',
     'text': 'United States'}]},
  {'id': 'place.11721745678136340',
   'type': 'Feature',
   'place_type': ['place'],
   'relevance': 1,
   'properties': {'wikidata': 'Q5200316'},
   'text': 'Cypress County',
   'place_name': 'Cypress County, Alberta, Canada',
   'matching_text': 'Irvine',
   'matching_place_name': 'Irvine, Alberta, Canada',
   'bbox': [-111.697880583119,
    48.9987117351468,
    -110.004764034097,
    50.8342301494211],
   'center': [-110.6824, 49.8732],
   'geometry': {'type': 'Point', 'coordinates': [-110.6824, 49.8732]},
   'context': [{'id': 'region.9983800004962470',
     'short_code': 'CA-AB',
     'wikidata': 'Q1951',
     'text': 'Alberta'},
    {'id': 'country.10278600750587150',
     'wikidata': 'Q16',
     'short_code': 'ca',
     'text': 'Canada'}]},
  {'id': 'poi.850403528393',
   'type': 'Feature',
   'place_type': ['poi'],
   'relevance': 1,
   'properties': {'landmark': True,
    'wikidata': 'Q6074378',
    'address': '670 Spectrum Center Dr',
    'category': 'mall, shop'},
   'text': 'Irvine Spectrum Center',
   'place_name': 'Irvine Spectrum Center, 670 Spectrum Center Dr, Irvine, California 92618, United States',
   'center': [-117.7435935, 33.6502895],
   'geometry': {'coordinates': [-117.7435935, 33.6502895], 'type': 'Point'},
   'context': [{'id': 'neighborhood.291764',
     'text': 'Irvine Health and Science Complex'},
    {'id': 'postcode.10670761516316420', 'text': '92618'},
    {'id': 'place.11678998856575970', 'wikidata': 'Q49219', 'text': 'Irvine'},
    {'id': 'region.9803118085738010',
     'short_code': 'US-CA',
     'wikidata': 'Q99',
     'text': 'California'},
    {'id': 'country.19678805456372290',
     'wikidata': 'Q30',
     'short_code': 'us',
     'text': 'United States'}]}],
 'attribution': 'NOTICE: © 2020 Mapbox and its suppliers. All rights reserved. Use of this data is subject to the Mapbox Terms of Service (https://www.mapbox.com/about/maps/). This response and the information it contains may not be retained. POI(s) provided by Foursquare.'}

In [37]:
# lat = response['features'][0]['geometry']['coordinates'][1]
# lng = response['features'][0]['geometry']['coordinates'][0]
# print(lat)
# print(lng)

33.6857
-117.826

In [41]:
New_job_location_df['job_type'] = 'Data Scientist'

In [42]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng,job_type
0,Educational Data Scientist,"Irvine, CA",Irvine,33.6857,-117.826,Data Scientist
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244,Data Scientist
2,Staff Data Scientist - Analyticsnew,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,33.6857,-117.826,Data Scientist
3,Senior Data Scientistnew,"Irvine, CA",Irvine,33.6857,-117.826,Data Scientist
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826,Data Scientist
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826,Data Scientist
6,Data Scientistnew,"Pasadena, CA 91101 (South area)",Pasadena,29.6911,-95.2091,Data Scientist
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co...",Irvine,33.6857,-117.826,Data Scientist
8,Data Scientist,"San Diego, CA 92127",San Diego,32.7174,-117.163,Data Scientist

In [40]:
#Define database and collection
#Database = Indeed_db
#Collections = Data_jobs
client.Indeed_db.Data_jobs.insert_many(New_job_location_df.to_dict('records'))

In [ ]:
#Done